@import 'https://fonts.googleapis.com/css?family=Maven+Pro|Varela+Round|Gudea';
h2,h4 {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
}

.p {
  text-align: center;
  padding-top: 130px;
}

.btn-success{
  background-color: #005bbb;
  font-family: 'Maven Pro', sans-serif;
}

.login-Btn{
  align-self: center;
  padding: auto;
  margin: auto;
}


#video-block div {
        height: 500px;
        width: 500px;
        border: 1px solid red;
        margin-left: 5px;
        float: left; /*Here you can also use display: inline-block instead of float:left*/

}



.topOne{
  border: none;
  margin: 40px;
}


.vidOne{
  /*background-color: #000000;*/
  margin: auto;
  padding: auto;
  align-items: center;
}

.infoOne{

  /*background-color: cyan;*/
  font-family: 'Gudea',sans-serif;
  overflow: hidden;
}
